@model EasyOC.RDBMS.ViewModels.AdminQueryViewModel
<style at="Head" asp-name="amis"></style>
<style at="Head" asp-name="amis-cxd"></style>
<style at="Head" asp-name="amis-helper"></style>
<style at="Head" asp-name="amis-iconfont"></style>
<zone Name="Title">
    <h1>@RenderTitleSegments(T["Script Query"])</h1>
</zone>

<div asp-validation-summary="All"></div>
<style at="Head" depends-on="amis-all">
    html,
    body,
    .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div id="amis-root" class="app-wrapper">
</div> 
<script at="Foot" asp-name="amis"></script>
<script at="Foot" asp-name="amis-ext"></script>
<script at="Foot" asp-name="axios"></script>
<script at="Foot" asp-name="amis-env"></script>
<script at="Foot" depends-on="amis">
    $(function () {
        let amis = amisRequire('amis/embed');
        var formData=@Json.Serialize(Model)
        console.log("formData",formData)
        // formData["__RequestVerificationToken"]= $("input[name='__RequestVerificationToken']").val()
        // 通过替换下面这个配置来生成不同页面
        let amisJSON = {
                         "type": "page", 
                         "regions": [
                           "body",
                           "toolbar",
                           "header"
                         ],                       
                         "id": "u:b977b1ff6f87",
                         "body": [
                           {
                             "type": "form",
                             "title": "表单", 
                             data:formData,
                             "api":{
                               "method":"POST",
                               "url":"Query",                              
                               "dataType": "form",
                               "replaceData": true,
                               // "requestAdaptor":(api)=>{
                               //  console.log("api111",api)
                               //   var data= api.data
                               //   api.data={
                               //     returnDocuments:data.returnDocuments,
                               //     decodedQuery:data.decodedQuery,
                               //     parameters:data.parameters,
                               //   }
                               //   console.log("api222",api)
                               //   return api;
                               // },
                               "adaptor":  (payload, response, api) =>{
                                 console.log(response)
                                 return {data:response}
                               } 
                             },
                             "body": [
                               {
                                 "type": "grid",
                                 "columns": [
                                   {
                                     "body": [
                                       {
                                         "type": "editor",
                                         "label": "Parameters",
                                         "name": "parameters",
                                         "id": "u:515ba315759a",
                                         "language": "json",
                                         "description": "Json 格式，使用 parameters 对入参进行引用"
                                       }
                                     ],
                                     "id": "u:f5b0cda2c673"
                                   },
                                   {
                                     "body": [
                                       {
                                         "type": "tpl",
                                         "tpl": "可用数据库",
                                         "inline": true,
                                         "wrapperComponent": "",
                                         "id": "u:71766373b675"
                                       },
                                       {
                                         "type": "crud",
                                         "columns": [
                                           {
                                             "label": "引用名称",
                                             "name": "configName",
                                             "type": "text",
                                             "id": "u:be65008b6c0f"
                                           },
                                           {
                                             "type": "text",
                                             "label": "数据库类型",
                                             "name": "dbProvider",
                                             "id": "u:e9394fa27b8c"
                                           }
                                         ],
                                         "id": "u:a63e907d5fa0",
                                         "api": "/api/RDBMS/GetAllDbConnection"
                                       },
                                       {
                                         "type": "tpl",
                                         "tpl": "使用方法：\nshellDb.GetRows('Select * from Document where id=@@id',params), 注意遵循不同数据库的语法规范",
                                         "inline": true,
                                         "id": "u:71766373b675",
                                         "style": {
                                           "color": "#5f5c5c",
                                           "fontSize": 12
                                         }
                                       }
                                     ],
                                     "id": "u:ad62f08beaac",
                                     "style": {
                                       "overflow-y": "scroll"
                                     }
                                   }
                                 ],
                                 "id": "u:dae0c5d5a0ad"
                               },
                               {
                                 "type": "checkbox",
                                 "option": "返回文档",
                                 "name": "returnDocuments",
                                 "id": "u:f381f871517a"
                               },
                               {
                                 "label": "Script",
                                 "name": "decodedQuery",
                                 "type": "editor",
                                 "id": "u:57b6fb4bc910",
                                 "language": "javascript",
                                 "description": "JavaScript"
                               },
                               {
                                 "type": "button",
                                 "label": "Run",
                                 "id": "u:a529cac9c319",
                                  "actionType": "submit",                              
                                 "level": "success"
                               },
                               {
                                 "type": "container",
                                 "hiddenOn":"${!elapsed}",
                                 "body": [
                                   { 
                                     "type": "tpl",
                                     "tpl": "<p>执行耗时：${elapsed} 毫秒</p>",
                                     "inline": false,
                                     "id": "u:66747b83d237"
                                   },
                                   {
                                     "label": "执行结果",
                                     "type": "editor",
                                     "name": "result",
                                     "id": "u:78037966a343",
                                     "language": "json"
                                   }
                                 ],
                                 "id": "u:9f263a95f908"
                               }
                             ],
                             "id": "u:de5020ca8901",
                             "wrapWithPanel": false,
                             // "debug": true
                           }                            
                         ]
                       };

        var env = buildEnv(axios);
        let amisScoped = amis.embed('#amis-root', amisJSON, {},
            {
                enableAMISDebug: false,
                locale: 'zh-CN',
                ...env
            }
        );
    });
</script>