@model ReportViewModel
<div class="row" style="padding-bottom: 5px; padding-left: 12px;">
   @if (Model.EnableInlineParameters) {
      foreach (var parameter in Model.Process.Parameters.Where(p => p.Prompt)) {
         if (Model.TopParameters.Contains(parameter.Name)) {
            @Html.Partial("ParameterWithLabel", new ParameterViewModel { Maps = Model.Process.Maps, Parameter = parameter })
         }
      }
   } else {
      foreach (var parameter in Model.Process.Parameters.Where(p => p.Prompt)) {
         @Html.Partial("ParameterWithLabel", new ParameterViewModel { Maps = Model.Process.Maps, Parameter = parameter })
      }
   }
</div>



