@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasDraft = contentItem.HasDraft();
    var exportId = Guid.NewGuid().ToString("n");
    var exportPublishedId = Guid.NewGuid().ToString("n");
    var exportDraftId = Guid.NewGuid().ToString("n");
}

<div class="dropdown-divider"></div>
<a asp-action="CompareContent" asp-controller="VersionCompare" asp-area="EasyOC.OrchardCore.VersionCompare" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" asp-route-latest="true" class="dropdown-item btn btn-primary btn-sm">@T["Version Compare"]</a>

 
 


