@{
    ViewLayout = "Layout__Login";
}
<div class="flex w-full h-full py-5 xl:h-auto xl:py-0 xl:my-0 xl:w-6/12">
    <div class="vben-login-form relative w-full px-5 py-8 mx-auto my-auto rounded-md shadow-md xl:ml-16 xl:bg-transparent sm:px-8 xl:p-4 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-auto enter-x">

        <h1>@T["Change Password"]</h1>
        <p>@T["Your password has been changed successfully."]</p>
    </div>
</div>
