@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{
    ViewLayout = "Layout__Login";
}
<div class="flex w-full h-full py-5 xl:h-auto xl:py-0 xl:my-0 xl:w-6/12">

    <div class="vben-login-form relative w-full px-5 py-8 mx-auto my-auto rounded-md shadow-md xl:ml-16 xl:bg-transparent sm:px-8 xl:p-4 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-auto enter-x">
        <h2 class="mb-3 text-2xl font-bold text-center xl:text-3xl enter-x xl:text-left enter-x">@T["Forgot password?"]</h2>


        <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="ant-form ant-form-horizontal p-4 enter-x">
            <h4>@T["Please check your email to reset your password."]</h4>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <input asp-for="Email" placeholder="@T["Email"]" type="text" class="ant-input ant-input-lg fix-auto-fill">
                            <span asp-validation-for="Email" class="ant-form-item-explain ant-form-item-explain-error"></span>
                        </div><!---->
                    </div><!----><!---->
                </div>
            </div>
            @await RenderSectionAsync("AfterForgotPassword", required: false)
            <button type="submit" class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block enter-x">
                <!----><span>@T["Submit"]</span>

            </button>
            <a class="ant-btn ant-btn-lg ant-btn-block mt-4" href="/">
                <span>返 回</span>
            </a>
        </form>
    </div>
</div>
